<ion-view title="ATM Settings">
	<ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="confirmSetting()">
         <i class="icon ion-briefcase"></i> Confirm
      </button>
    </ion-nav-buttons>
  <ion-content class="padding" >
		<ul class="list">
		  <li class="item item-toggle" data-ng-show="setting.installed" ng-repeat="setting in settingsConfig" type="item-text-wrap" href="#/tab/settings/{{setting.id}}">
			{{setting.name}}<i class="icon {{setting.icon}}"></i>
			 <label class="toggle toggle-assertive">
			   <input type="checkbox" data-ng-model="setting.allow" data-ng-disabled = "!setting.installed">
			   <div class="track">
				 <div class="handle"></div>
			   </div>
			 </label>
		  </li>
		</ul>  
	</ion-content>
</ion-view>
