<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-royal">

  <!-- Sign up Tab -->
  <ion-tab title="Sign Up" icon="icon ion-home" href="#/tab/signup" hidden="{{loggedIn}}">
	<ion-nav-view name="tab-signup"></ion-nav-view>
  </ion-tab>

  <!-- ATM Live Tab -->
  <ion-tab title="ATM Live" icon="icon ion-home" href="#/tab/atmlive" hidden="{{!loggedIn}}">
  	<ion-nav-view name="tab-atmlive">
	</ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends" hidden="{{!loggedIn}}">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

    <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings" hidden="{{!loggedIn}}">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab 
  <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
	-->
  <!-- Account Tab 
  <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
	-->

</ion-tabs>
